@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700|Quicksand:400);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	background: url(../img/pi.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	backround-size: cover;
	height: 100%;
}
body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
	font-family: 'Quicksand', sans-serif;
	color:#FFF;
	font-size:1.3em;
}
/* dot overlay inspired by Jon Phillips (http://jonphillips.ca/) */
.dot-overlay { 
	background: transparent url('../img/overlay.png'); 
	opacity: 0.5; 
	z-index: -1; 
	margin: 0px; 
	padding: 0px; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%;
}
a:link {
	color:#DDD;
}
a:visited {
	color:#DDD;
}
a:hover {
	color:#DDD;
}
a:active {
	color:#DDD;
}

/******************** Navigation ********************/
#navbar  {
	font-family: "Quicksand", Verdana, Tahoma;
	color:#DDD;
	font-size:1.1em;
	/*background-color: rgba(10, 10, 10, 0.6);*/
	text-align: center;
}
nav {
	margin: auto;

	height:3em;
	line-height: 3em;
}
a {
	text-decoration: none;
    border-bottom: 3px solid white;
}
nav a {
	padding: 1em;
	text-decoration:none;
	background-color: rgba(0,0,0,.7);
	transition: background-color 0.5s ease, border 0.5s ease;
}
nav a:hover {
	background-color: rgba(0,0,0,.95);
}
.menu-bold {
	background-color: rgba(0,0,0,.95);
}
nav a.home     { border-bottom-color: #4D3E98; }
nav a.about    { border-bottom-color: #7489FF; }
nav a.thoughts { border-bottom-color: #5E97E8; }
nav a.projects { border-bottom-color: #67CEFF; }

nav a.home    :hover { border-bottom-color: #282864; }
nav a.about   :hover { border-bottom-color: #3B4EFF; }
nav a.thoughts:hover { border-bottom-color: #2A6FE8; }
nav a.projects:hover { border-bottom-color: #2EB1FF; }


/******************** Content ********************/
#content {
	text-align: center;
	margin: 1em auto 0 auto;
	min-width:300px;
	max-width: 800px;
	background-color: rgba(40,40,100,.98);
}
#wrapper {
	padding:2em;
}
h3 {
	font-size:1.5em;
	font-weight:normal;
	padding-top: 10px;
	padding-bottom:25px;
	margin: 0px;
	width:100%;
}
.highlight {
	font-weight: bold;
}
#andrew-img {
	width:300px;
	height:300px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-o-border-radius: 150px;
	border-radius: 150px;
	border: 9px solid #EFEFEF;
	margin:1em auto;
}


/******************** Love Slider ********************/
#meet-andrew {
	text-align: left;
	margin: 1em auto 0 auto;
	min-width:300px;
	max-width: 800px;
	color:#EDEDED;
	background-color: rgba(40,40,100,.98);
	padding:2em;
	line-height: 2.1em;
	font-family: 'Josefin Slab', serif;
}
#love-container {
	position:relative;
	min-width:300px;
	border-bottom: 1px solid white;
	color: rgba(40,40,100,0);
}
.love-elem {
	position:absolute;
	width:300px;
	height:1em;
	color:#FFF;
}
#new-love {
	-webkit-transition: opacity .4s ease-in-out, bottom .5s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out, bottom .5s ease-in-out;
	-o-transition:      opacity .4s ease-in-out, bottom .5s ease-in-out;
	transition:         opacity .4s ease-in-out, bottom .5s ease-in-out;
	opacity: 0;
	bottom:1em;
}
#cur-love {
	bottom: .25em;
}
#cur-love.transition {
	-webkit-transition: opacity .4s ease-in-out, bottom .5s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out, bottom .5s ease-in-out;
	-o-transition:      opacity .4s ease-in-out, bottom .5s ease-in-out;
	transition:         opacity .4s ease-in-out, bottom .5s ease-in-out;
	opacity: 0;
	bottom:-1em;
}


/******************** Social Icons ********************/
#social-icons {
	margin: 2em 1em 1em 1em;
}
#social-icons li {
	display: inline;
	text-decoration: none;
	margin: 0 .25em;
}
#social-icons a {
	border: none;
}
#social-icons img {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition:    opacity .2s ease-in-out;
	-o-transition:      opacity .2s ease-in-out;
	transition:         opacity .2s ease-in-out;
	opacity:.8;
}
#social-icons img:hover {
	opacity:1;
}