@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700|Lato:300,400,700,400italic);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	background: url(../img/mountains.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body {
	margin: 0;
	width: 100%;
	min-width: 405px;
	min-height: 100%;
	font-family: 'Lato', sans-serif;
	color:#FFF;
	font-size:1.3em;
}
/* dot overlay inspired by Jon Phillips (http://jonphillips.ca/) */
.dot-overlay { 
	background: transparent url('../img/overlay.png'); 
	opacity: 0.5; 
	z-index: -1; 
	margin: 0; 
	padding: 0; 
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%;
}
a:link {
	color:#DDD;
}
a:visited {
	color:#DDD;
}
a:hover {
	color:#DDD;
}
a:active {
	color:#DDD;
}

/******************** Navigation ********************/
#navbar  {
	font-family: 'Josefin Slab', serif;
	color:#DDD;
	font-size:1.1em;
	text-align: center;
}
nav {
	margin: auto;
	line-height: 3em;
}
a {
	text-decoration: none;
}
nav a {
	padding: 1em;
	text-decoration:none;
	background-color: rgba(40,40,40,.3);

	-webkit-transition: background-color .4s ease, border .5s ease, top .5s ease;
	-moz-transition:    background-color .4s ease, border .5s ease, top .5s ease;
	-o-transition:      background-color .4s ease, border .5s ease, top .5s ease;
	transition: 		background-color .4s ease, border .5s ease, top .5s ease;
}
nav a.compact {
	/*display:inherit;
	position:relative;*/
	display:none;
	z-index:1;
	padding:.4em 1em;
}
/*
nav a.compact:nth-child(1):not(.menu-bold) { top: -3.8em; }
nav a.compact:nth-child(2):not(.menu-bold) { top: -7.6em; }
nav a.compact:nth-child(3):not(.menu-bold) { top:-11.4em; }
nav a.compact:nth-child(4):not(.menu-bold) { top:-15.2em; }

nav a.compact.expanded:nth-child(1):not(.menu-bold) { top: 0em; }
nav a.compact.expanded:nth-child(2):not(.menu-bold) { top: 0em; }
nav a.compact.expanded:nth-child(3):not(.menu-bold) { top: 0em; }
nav a.compact.expanded:nth-child(4):not(.menu-bold) { top: 0em; }
*/
nav a.compact.expanded {
	display: inherit;
}
nav a.compact.menu-bold {
	display:inherit;
	/*top:0;
	z-index:2;*/
}
nav a.compact.menu-bold:after {
	content: '▼';
	float:right;
}
nav a.compact.menu-bold.expanded:after {
	content: '▲';
	float:right;
}
nav a:hover {
	background-color: rgba(40,40,40,.7)
}
.menu-bold {
	background-color: rgba(0,0,0,.75);
}
nav #menu-home     { border-bottom-color: #4D3E98; }
nav #menu-about    { border-bottom-color: #7489FF; }
nav #menu-thoughts { border-bottom-color: #5E97E8; }
nav #menu-projects { border-bottom-color: #67CEFF; }

nav #menu-home    :hover { border-bottom-color: #282864; }
nav #menu-about   :hover { border-bottom-color: #3B4EFF; }
nav #menu-thoughts:hover { border-bottom-color: #2A6FE8; }
nav #menu-projects:hover { border-bottom-color: #2EB1FF; }


/******************** Content ********************/
#content {
	text-align: center;
	margin: 1em auto 0 auto;
	min-width:300px;
	max-width: 800px;
	background-color: rgba(40,40,40,.45);
}
#wrapper {
	padding:2em;
}
h1 {
	font-size:1.5em;
	font-weight:normal;
	padding-top: 10px;
	padding-bottom:25px;
	margin: 0;
	width:100%;
	font-family: 'Josefin Slab', serif;
}
.highlight {
	font-weight: bold;
}
#andrew-img {
	width:300px;
	height:300px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-o-border-radius: 150px;
	border-radius: 150px;
	margin:1em auto;
}


/******************** Love Slider ********************/
#meet-andrew {
	text-align: left;
	margin: 0 auto;
	min-width:300px;
	max-width: 800px;
	color:#EDEDED;
	padding:2em;
	line-height: 2.1em;
	font-family: 'Josefin Slab', serif;
}
#love-container {
	position:relative;
	min-width:300px;
	line-height:1em;
	border-bottom: 1px solid white;
	color: rgba(40,40,100,0);
	display:inline-block;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.love-elem {
	position:absolute;
	width:300px;
	height:1em;
	color:#FFF;

	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#new-love {
	-webkit-transition: opacity .4s ease-in-out, bottom .5s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out, bottom .5s ease-in-out;
	-o-transition:      opacity .4s ease-in-out, bottom .5s ease-in-out;
	transition:         opacity .4s ease-in-out, bottom .5s ease-in-out;
	opacity: 0;
	bottom:1em;
}
#cur-love {
	bottom: 0em;
}
#cur-love.transition {
	-webkit-transition: opacity .4s ease-in-out, bottom .5s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out, bottom .5s ease-in-out;
	-o-transition:      opacity .4s ease-in-out, bottom .5s ease-in-out;
	transition:         opacity .4s ease-in-out, bottom .5s ease-in-out;
	opacity: 0;
	bottom:-1em;
}


/******************** Social Icons ********************/
#social-icons {
	margin: 2em 1em 1em 1em;
	padding: 0;
}
#social-icons li {
	display: inline;
	text-decoration: none;
	margin: 0 .25em;
}
#social-icons a {
	border: none;
}
#social-icons img {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition:    opacity .2s ease-in-out;
	-o-transition:      opacity .2s ease-in-out;
	transition:         opacity .2s ease-in-out;
	opacity:.8;
}
#social-icons img:hover {
	opacity:1;
}


/************* Projects View ***************/
.project {
	text-align: left;
    font-family: "Lato", Helvetica, sans-serif;
	position: relative;
	
	padding: 1em;
	background-color: rgba(50,50,50,.48);
	
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	-moz-transition:    background-color .3s ease-in-out, color .3s ease-in-out;
	-o-transition:      background-color .3s ease-in-out, color .3s ease-in-out;
	transition:         background-color .3s ease-in-out, color .3s ease-in-out;
}
.project:nth-child(odd) {
	/*background-color: rgba(50,50,50,.68);*/
}
.project:hover {
	background-color: rgba(240,240,240,.78) !important;
	color: #333 !important;
}
.project a {
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	-moz-transition:    background-color .3s ease-in-out, color .3s ease-in-out;
	-o-transition:      background-color .3s ease-in-out, color .3s ease-in-out;
	transition:         background-color .3s ease-in-out, color .3s ease-in-out;
}
.project:hover a {
	color: #222;
}

.short-descr, .project-descr {
	font-weight: 300;
}
.project-descr {
	font-size: 0.83em;
}
.project-descr h4 {
	/* prevents jumpy transition */
	margin-top: 0;
}
.project.expanded {
	background-color: rgba(30,30,30,.88);
}

.project-info div {
	display:inline-block;
	text-align: center;
	width:25%;
}
.project-info a {
	text-decoration: none;
    border: 0 none transparent;
}
.project-info a img {
	text-decoration: none;
    border: 0 none transparent;
	width: 32px;
}

.project-info img {
	opacity: .9;
	/*
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;*/
}

.project-info.minimized {
	position:absolute;
	right:0;
	top:0;
	padding: 1em 1em;
}

.project-info.minimized div {
	margin:0 .25em;
	width: 32px;
}

.project-info.minimized img {
	width: 32px;
}
.project-info.minimized img:hover {
	opacity: 1;
}

h3 {
	font-size:1.5em;
}
.more {
	font-weight: 300;
	font-size: 70%;
	position: absolute;
	bottom: 1em;
	right: 1em;
	cursor: pointer;
}

.sidenote {
	font-size: 150%;
	padding: 1em;
	font-family: 'Josefin Slab', serif;
}
.sidenote a {
	text-decoration: underline;
}