
@font-face {
  font-family: 'LoveloBlack';
  src: url('LoveloBlack.eot?#iefix') format('embedded-opentype'),  url('LoveloBlack.otf')  format('opentype'),
	     url('LoveloBlack.woff') format('woff'), url('LoveloBlack.ttf')  format('truetype'), url('LoveloBlack.svg#LoveloBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
