<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits
              maxUrl="16384" 
              maxQueryString="16384" />
      </requestFiltering>
    </security> 
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="20480" executionTimeout="240" requestValidationMode="2.0" maxQueryStringLength="4096" />
  </system.web>
</configuration>